.containAll {
    display: block;
    flex-direction: column;
}

.containCasino {
    margin-top: 10%;
    overflow: hidden;
}

.containerCatsImages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.catImage {
    width: 300px;
    height: 410px;
    border: 2px solid blueviolet;
    /* transition-timing-function: cubic-bezier(1, -0.45, 0.4, 1.68);
    /* transition: all 1s ease-in; */
}

.imgcatload {
    width: 300px;
    height: 410px;
    border: 2px solid rgb(255, 160, 7);
    background-color: rgb(251, 255, 13);
}

.imgcat {
    width: 296px;
    height: 406px;
}

.imgcatload:nth-child(2) {
    width: 300px;
    height: 410px;
    background-color: rgb(255, 5, 5);
}

.imgcatload:nth-child(3) {
    width: 300px;
    height: 410px;
    background-color: rgb(125, 245, 12);
}

@keyframes rotating {
    from {
        /* -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg); */
        transform: rotate(5520deg);
        filter: blur(50px);
        z-index: 0;
    }
    to {
        /* -ms-transform: rotateY(-8520deg) rotateX(-8520deg);
        -moz-transform: rotateY(-8520deg) rotateX(-8520deg);
        -webkit-transform: rotateY(-8520deg) rotateX(-8520deg);
        -o-transform: rotateY(-8520deg) rotateX(-8520deg); */
        transform: rotateX(-8820deg);
    }
}

.imgcatActive {
    width: 100%;
    height: 100%;
    /* transition-duration: 0.9s; */
    transition: all 0.1s ease-in;
    transform: rotate(5520deg);
    animation: rotating 0.1s linear infinite;
    transform-style: preserve-3d;
    filter: blur(50px);
    z-index: 0;
    opacity: 0.8;
    background-size: cover;
}

.btn-casino {
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: rgb(250, 245, 245)er;
    background: rgb(231, 15, 15);
    color: white;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.125;
    border-radius: 14px;
    padding: 8px;
    cursor: pointer;
    text-decoration: none;
    margin: 35px auto;
}

.btn-casino:hover {
    text-decoration: none;
    color: rgb(250, 19, 19);
    font-size: 16px;
    font-weight: bold;
    transition: linear 3ms;
    background-color: #f5f5f5ca;
    box-shadow: 0px 2px 15px rgba(172, 172, 172, 0.94);
    border: 2px solid rgb(0, 0, 0);
}

.catsImageCasino {
    width: 100%;
}

.win {
    color: chartreuse;
}

.loose {
    color: crimson;
}

#message {
    display: none;
    margin: auto;
    width: 50%;
    height: 150px;
}