.containTitleCasino {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto;
}

.casinoTitleYellow {
    padding: 17px;
    font-family: alfarn, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 63px;
    border: 7px solid #fbff00;
    border-radius: 30px;
    box-shadow: 0px 2px 27px red;
    color: red;
}

.casinoTitleRed {
    padding: 17px;
    font-family: alfarn, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 63px;
    border: 7px solid red;
    border-radius: 30px;
    box-shadow: 0px 2px 27px #bdbe77;
    color: #fbff00;
    ;
}

.containAll {
    display: block;
    flex-direction: column;
}

.containCasino {
    margin-top: 10%;
    overflow: hidden;
}

.containerCatsImages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px auto;
}

.catImageYellow {
    box-sizing: border-box;
    width: 312px;
    height: 423px;
    border: 9px solid #fbff00;
    border-radius: 15px;
}

.catImageRed {
    box-sizing: border-box;
    width: 312px;
    height: 423px;
    border: 9px solid red;
    border-radius: 15px;
}

.imgcatload {
    width: 312px;
    height: 423px;
    border: 5px solid rgb(255, 160, 7);
    background-color: rgb(251, 255, 13);
}

.imgcat {
    width: 296px;
    height: 406px;
    border-radius: 5px;
}

.imgcatload:nth-child(2) {
    width: 312px;
    height: 423px;
    background-color: rgb(255, 5, 5);
}

.imgcatload:nth-child(3) {
    width: 312px;
    height: 423px;
    background-color: rgb(125, 245, 12);
}

@keyframes rotating {
    from {
        /* -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg); */
        transform: rotate(5520deg);
        filter: blur(50px);
        z-index: 0;
    }
    to {
        /* -ms-transform: rotateY(-8520deg) rotateX(-8520deg);
        -moz-transform: rotateY(-8520deg) rotateX(-8520deg);
        -webkit-transform: rotateY(-8520deg) rotateX(-8520deg);
        -o-transform: rotateY(-8520deg) rotateX(-8520deg); */
        transform: rotateX(-8820deg);
    }
}

.imgcatActive {
    width: 100%;
    height: 100%;
    /* transition-duration: 0.9s; */
    transition: all 0.1s ease-in;
    transform: rotate(5520deg);
    animation: rotating 0.1s linear infinite;
    transform-style: preserve-3d;
    filter: blur(50px);
    z-index: 0;
    opacity: 0.8;
    background-size: cover;
}

.btn-casino {
    width: 123px;
    height: 40px;
    display: flex;
    justify-content: center;
    background: rgb(231, 15, 15);
    color: white;
    font-family: carlmarx, sans-serif;
    font-weight: 700;
    font-size: 23px;
    font-style: normal;
    line-height: 1.125;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    margin: 35px auto;
}

.btn-casino:hover {
    width: 123px;
    height: 40px;
    display: flex;
    justify-content: center;
    background: rgb(255, 238, 0);
    color: rgb(3, 3, 3);
    font-family: carlmarx, sans-serif;
    font-weight: 700;
    font-size: 23px;
    font-style: normal;
    line-height: 1.125;
    border-radius: 30px;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    margin: 35px auto;
    border: 4px solid red;
}

.catsImageCasino {
    width: 100%;
}

.win {
    color: chartreuse;
}

.loose {
    color: crimson;
}

#message {
    display: none;
    margin: auto;
    width: 50%;
    height: 150px;
}