.illustration {
    width: 80%;
    height: 500px;
    background: url('./../../Asset/logoHome/undraw_logic_n6th.svg') no-repeat;
    background-size: contain;
    margin: auto;
}

/* svg {
    width: 80%;
    height: 50%;
} */